<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colo Shop</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Colo Shop Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/bootstrap4/bootstrap.min.css"
    />
    <link
      href="plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/animate.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/responsive.css" />
  </head>

  <body>
    <div class="super_container">
      <!-- Header -->

      <header class="header trans_300">
        <!-- Top Navigation -->

        <div class="top_nav">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="top_nav_left">
                  free shipping on all u.s orders over $50
                </div>
              </div>
              <div class="col-md-6 text-right">
                <div class="top_nav_right">
                  <ul class="top_nav_menu">
                    <!-- Currency / Language / My Account -->

                    <li class="currency">
                      <a href="#">
                        usd
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="currency_selection">
                        <li><a href="#">cad</a></li>
                        <li><a href="#">aud</a></li>
                        <li><a href="#">eur</a></li>
                        <li><a href="#">gbp</a></li>
                      </ul>
                    </li>
                    <li class="language">
                      <a href="#">
                        English
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="language_selection">
                        <li><a href="#">French</a></li>
                        <li><a href="#">Italian</a></li>
                        <li><a href="#">German</a></li>
                        <li><a href="#">Spanish</a></li>
                      </ul>
                    </li>
                    <li class="account">
                      <a href="#">
                        My Account
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="account_selection">
                        <li>
                          <a href="#"
                            ><i class="fa fa-sign-in" aria-hidden="true"></i
                            >Sign In</a
                          >
                        </li>
                        <li>
                          <a href="/register"
                            ><i class="fa fa-user-plus" aria-hidden="true"></i
                            >Register</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- New Arrivals -->
      <form id="login" action="/register ">
          
          <div class="form-group">
            <label for="exampleInputPassword1">Password change:</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script>
      const form = document.getElementById("login");
      form.addEventListener("submit",registerUser);
      async function registerUser(event){
        event.preventDefault();
        console.log(localStorage.getItem("token"));
        const password = document.getElementById("password").value;
        const result = await fetch('/api/change-password',{
          method:"POST",
          headers:{ 
            'Content-Type':"application/json"
          },
          body:JSON.stringify({
            newPassword:password,
            token:localStorage.getItem("token")
          })
        }).then((res)=>res.json())
        console.log(result);
        if(result.status==="ok"){
         console.log("Got the token :",result.data);
         alert("Successfully !!");
        }else{
          alert(result.error);
        }
      }
    </script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    {{!-- <script src="plugins/Isotope/isotope.pkgd.min.js"></script> --}}
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./products.js"></script> 
  </body>
</html>



