 <!-- Slider -->

      <div
        class="main_slider"
        style="
          background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_500834794_2000133320009280353_392829.jpg');
        "
      >
        <div class="container fill_height">
          <div class="row align-items-center fill_height">
            <div class="col">
              <div class="main_slider_content">
                <h6 style="color: white;"><i>Chào đón mùa hè 2022</i></h6>
                <h1 style="color: white;">Giảm giá lên đến <strong>30%</strong></h1>
                <div class="red_button shop_now_button">
                  <a href="/products">mua ngay</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>